#admin {
    height: 100%;
    overflow: auto;
}

.side-bar {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.side-bar h2{
    text-align: center;
    letter-spacing: 7px;
    color: #fff;
    background: #111;
    padding: 20px 0;
}

.side-bar .btn {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
.side-bar .btn:hover {
    color: #f1f1f1;
}

#contentarea .btn{
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    margin-top: 10px;
}

#contentarea .btn:hover{
    background-color: #444;
}

#contentarea{
    margin-bottom: 10px;
    padding: 10px 0px;
}

#contentarea h2{
    margin-top: 20px;
}

#contentarea .username{
    font-size: 40px;
}

#contentarea #logOut i{
    padding: 0px 10px;
}

.side-bar i{
    margin-left: 10px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    /*sidebar*/
    .side-bar h2{
        display: none; 
    }

    .side-bar .btn{
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .side-bar .btn i{
        display: none;
    }

    /*contentarea*/

    #contentarea .btn{
        font-size: 16px;
        cursor: pointer;
        background-color: #111;
        color: white;
        padding: 5px 10px;
        border: none;
    }

    #contentarea h2{
        padding-top: 20px;
        font-size: 20px;
    }

    #contentarea i{
        padding-top: 10px;
    }

    #contentarea .username{
       display: block;
       font-size: 20px;
    }
    
    #contentarea .btn i{
        display: none;
    }


}