/*login page layout*/
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Oswald:wght@400;500&display=swap');

body{ 
    background: rgb(34,193,195);
    background: linear-gradient(135deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%);
}
  
.loginform{
    max-width: 500px;
    min-width: 300px;
    max-height: 700px;
    width: 30%;
    height: 60%;
    margin: 100px auto;
    background-color: #FFFFFF;
    border-radius: 25px;
}

.usericon{
    text-align: center;
    padding-top: 2rem;
}

.header{
    text-align: center;
    font-family: 'Nerko One', cursive;
    padding-top: 1rem;
    margin: 0;
    font-size: 3rem;
}

.row{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    max-width: 100%; 
}

.row input{
    width: 80%;
    box-sizing: border-box;
    border: none;
    font-size: 1.3rem;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    box-shadow: inset 0px -3px 0px 0px rgba(187,187,187,0.2);
    transition: box-shadow 0.2s ease-in;
}

.row input:focus{
    box-shadow: inset 0px -3px 0px 0px rgba(34,193,195,0.7);
    outline: none;
}

.row input::-webkit-input-placeholder{
    opacity: 1;
    transition: opacity 0.25s ease-out;
}

.row input:hover::-webkit-input-placeholder,
.row input:focus::-webkit-input-placeholder{
  opacity: 0;
}


.row label{
    align-self: start;
    padding-left: 4.5rem;
    padding-bottom: 0.5rem;
    color: rgba(187,187,187,0.9);
}
  
.loginbutton{
    border-radius: 25px;
    width: 80%;
    height: 40px;
    font-size: 1.3rem;
    color: white;
    font-weight: 700;
    background: rgb(34,193,195);
    background: linear-gradient(90deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%);
    border: 0px;
    cursor: pointer;
    transition: opacity 0.25s ease-out;
    text-align: center;
    margin: 25px 25px;
}

.loginbutton:hover{
    opacity: 0.8;
}



