#user {
    height: 100%;
    overflow: auto;
}

#user .map-container {
    height: 400px;
}

#user .sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    margin: 12px;
    border-radius: 4px;
}

#user .marker {
    background-image: url('/src/photos/mapbox-marker-icon-20px-blue.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

#user .mapboxgl-popup {
    max-width: 200px;
  }
  
#user .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}