@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Oswald:wght@400;500&family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Oswald:wght@400;500&family=Zen+Dots&display=swap');

#user {
    height: 100%;
    overflow: auto;
    padding-top: 15px;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

#user .row{
  margin-bottom: 10px;
  padding: 10px 0px;
  display: flex;
  align-items: center;
}

#user #logOut {
  margin-left: 20px;
}

@media screen and (max-width: 581px) {
  #user #logOut {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

#user .map-container {
    height: 400px;
}

#user .sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    margin: 12px;
    border-radius: 4px;
    max-width: 80%;
}

#user .marker {
    background-image: url('/src/photos/mapbox-marker-icon-20px-blue.png');
    background-size: cover;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

#user .mapboxgl-popup {
    max-width: 200px;
  }
  
#user .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#user #updownIcon {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

/* search button */
#user .search-box {
  width: 350px;
  position: relative;
  display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 20px;
}
  
#user .search-input {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: 15px 45px 15px 15px;
  background-color: #eaeaeb;
  color: #6c6c6c;
  border-radius: 6px;
  border:none;
  transition: all .4s;
  margin-bottom: 10px;
}

#user .search-input:focus {
  border:none;
  outline:none;
  box-shadow: 0 1px 12px #b8c6db;
  -moz-box-shadow: 0 1px 12px #b8c6db;
  -webkit-box-shadow: 0 1px 12px #b8c6db;
}

#user .search-btn {
  height: 100%;
  background-color: transparent;
  font-size: 18px;
  padding: 15px 9px;
  margin-left:-45px;
  border:none;
  color: #6c6c6c;
  transition: all .4s;
  z-index: 10;
}

#user .search-btn:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: black;
}

#user .search-btn:focus {
  outline:none;
  color:black;
}

#user th, td {
  padding: 2px 5px;
}

#user h2 {
  font-family: 'Zen Dots', cursive;
}

#user h6{
  font-family: 'Zen Dots', cursive;
}

#user .username{
  font-family: 'Oswald', sans-serif;
}

/*Table*/
#user thead{
  background-color: #6c6c6c;
  color: #fff;
}

#user tbody>tr>:nth-child(2){
  font-weight: bold;
}

#user tbody>tr>:nth-child(3){
  color: red;
  font-weight: bold;
}

#user tr{
  border-bottom: 1px solid #ddd !important;
}

#user tbody tr:hover{
  background-color: rgb(184, 184, 184);
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
 h2{
  font-size: 10px;
 }
}
 
#user footer {
  color: grey;
  text-align: end;
}

/* user comment speech bubble */
#userNameBg {
  color: rgb(70, 115, 115);
  border-radius: 10px;
  border: 2px solid cadetblue;
  padding: 3px;
} 

#userMessageBg {
 background-color: cadetblue ;
 color: rgb(11, 16, 16);
 border-radius: 20px;
 padding-top: 5px;
}